<div class="card" [ngClass]="{'low-stock': product.quantity < 10}">
    <div class="info">
      <div class="name">{{product.name}}</div>
      <div class="description">{{product.description}}</div>
      <div class="stock">Stock : {{product.quantity}}</div>
    </div>
    <div class="actions">
      <div class="price">{{product.price | currency : "EUR"}}</div>
      <button class="button" (click)="selectButtonClicked()">Select</button>
      <button class="button" (click)="buyButtonClicked()">Buy</button>
    </div>
  </div>
  